.about{
    height: 100vh;
    width: 80vw;
    margin:auto;
    overflow:hidden;
}
.about_top{
    display: flex;
    margin:1rem auto;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    position: relative;
    /* top:-60px; */
    background: rgb(3, 167, 153);
    padding:1rem;
    border-radius: 2rem 0 2rem 0;
    align-items: center;
    color:#fff;
    z-index: 999;
}
.search_button{
    padding:.5rem 1rem .5rem 1rem;
    background: #fff;
    color:rgb(3, 167, 153);
    border: none;
transition: .5s;
border-radius: .5rem;
}
.search_button:hover{
    background:rgb(0, 117, 108);
    color:#fff;
}
.about_row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin:auto;
}
.about_div_left{
    width: 600px;
    text-align: left;

}
.about_div_left p{
    font-weight: 400 !important;
    margin: 2rem 0;
}
.about_button{
    padding:.5rem 1rem .5rem 1rem;
    background: rgb(3, 167, 153);
    color:#fff;
    border: none;
    transition: .5s;
    border-radius: .3rem;
}
.about_button:hover{
    background:rgb(0, 117, 108);
} 
.about_div_right{
    overflow: hidden;
    width: 45%;
}
.about_div_right img{
    width: 400px;
    height: 500px;
}
@media(max-width:1000px){
    .about_top{
        display:none
    }
    .about_row{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin:auto;
    }
    .about_div_left{
        height:30%;  margin-bottom: 1rem;
    }
    .about_div_right{
        height:60%;
      
    }
}
@media(max-width:700px){
    .about_div_right{
        display: none;
    }
    .about_div_left{
        height: 100%;
        width:100%;
        margin-top: 100px;
       
    }
}